<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        
<div class="container shadow" style="background-color: aquamarine; border-radius: 5px;">
    <div class="main-body">
          <div class="row gutters-sm">
            
            <div class="col-md-8">
              <div class="card mb-3">

                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">DOB</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Contact no</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Employee ID</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Designation</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Appointment Date</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Status</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Password</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                        Username
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
    </div>
</div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>