 <h2 style="text-align:center;color: black;">Our Team</h2>
  <div style="margin-left: 25%;">
  <div class="row align-middle" style="text-align:center">
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Suruchi Nautiyal</h2>
          <p class="title">Team Lead</p>
          <p>FullStack Devloper</p>
          <p>surunautiyal@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Pooja Borse</h2>
          <p class="title">Team Member</p>
          <p>FullStack Devloper</p>
          <p>poojaborse451@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
 </div>
</div>
  <div class="row"  style="text-align:center">
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="Jane" style="width:100%">
        <div class="container">
            <h2>Mayur Tambe</h2>
            <p class="title">Team Member</p>
            <p>FullStack Devloper</p>
            <p>mstambe1996@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Abhilash Thakre</h2>
            <p class="title">Team Member</p>
            <p>FullStack Devloper</p>
            <p>abhilashthakre28@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="John" style="width:100%">
        <div class="container">
            <h2>Narendra Pakhare</h2>
            <p class="title">Team Member</p>
            <p>FullStack Devloper</p>
            <p>narendrapakhare13@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>