<img src="../../assets/Image/abtUS.jpg" height="100%" width="100%"/>
<h1 style="color: brown;text-align: center;">ABOUT US</h1><br>
<p>MSME Loan App is an Instant Loan App that provides loans to any kind of small business.</p>
<br>
<h2>Who we are</h2>
<p>MSME app provides fast and flexible Collateral-free business loans within 24-hours. Working Capital or Asset Purchase loans available in the range of ₹1 lakh to ₹30 lakhs to Manufacturing, Trading or Services MSME sectors. MSME loan Aapp is available in English Language for your convenience .Easy OTP signup, no password necessary.</p>
<p> Users can download and install the instant loan app from the Google Play Store. Borrowers can take instant cash loans anywhere between Rs.500 – Rs.20,000 depending upon their profile and credit history. The money is transferred directly into their bank account.</p>
<p>The repayment plan is flexible with borrowers having the option of paying back the money over a period of 3 months along with a nominal interest charge.</p>
<p>MSME App does not require its users to provide collaterals or physical documents. You can simply upload a handful of documents on the app to register, get approved and start availing an instant loan.</p>
<p> We are an RBI registered NBFC.</p>