<h1>About Us</h1>
<h3>Our registered Non-Bank Finance Company, MSME Finance Services Ltd. (CFSL) assists SMEs, MSMEs and their founders to scale their businesses, through loan products in a variety of forms, structures and collaterals.

 Focusing on metros and Tier II cities, we service entities that are either in the stage of building up or diversifying, and generally not catered to by the mainstream banking system. We provide the right financing solution for business needs, driven solely by three key value propositions - flexibility, responsiveness and guidance.</h3>
 <h5>LeaderShip</h5><hr>
 <div style="margin-left: 25%;">
 <div class="row align-middle" style="text-align:center">
   <div class="column">
     <div class="card">
       <img src="../../assets/Image/Home.jpg" alt="Jane" style="width:100%">
       <div class="container">
         <h2>Suruchi Nautiyal</h2>
         <p class="title">Team Lead</p>
         <p>FullStack Devloper</p>
         <p>surunautiyal@gmail.com</p>
         <p><button class="button" (click)="onTL()">Contact</button></p>
       </div>
     </div>
   </div>
 
   <div class="column">
     <div class="card">
       <img src="../../assets/Image/Home.jpg" alt="Mike" style="width:100%">
       <div class="container">
         <h2>Pooja Borse</h2>
         <p class="title">Team Member</p>
         <p>FullStack Devloper</p>
         <p>poojaborse451@gmail.com</p>
         <p><button class="button" (click)="onTM1()">Contact</button></p>
       </div>
     </div>
   </div>
</div>
</div>
  <div class="row"  style="text-align:center">
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="Jane" style="width:100%">
        <div class="container">
            <h2>Mayur Tambe</h2>
            <p class="title">Team Member</p>
            <p>FullStack Devloper</p>
            <p>mstambe1996@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="Mike" style="width:100%">
        <div class="container">
            <h2>Abhilash Thakre</h2>
            <p class="title">Team Member</p>
            <p>FullStack Devloper</p>
            <p>abhilashthakre28@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/Image/Home.jpg" alt="John" style="width:100%">
        <div class="container">
            <h2>Narendra Pakhare</h2>
            <p class="title">Team Member</p>
            <p>FullStack Devloper</p>
            <p>narendrapakhare13@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>