

<nav class="navbar navbar-dark  navbar-expand-md bg-info fixed-top">

  <div class="navbar-collapse collapse" id="navbar">
    
      <a routerLink="dashboard" class="nav-link active"><img src="assets\Image\Logo-white.png" style="height: 40px;" alt="MSME Finance" data-toggle="tooltip" data-placement="bottom" title="Home"></a>
      
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-info" routerLink="emi">EMI Calculator</button>
        <button type="button" class="btn btn-info" routerLink="faqs">FAQ's</button>
        <button type="button" class="btn btn-info" routerLink="aboutus">About Us</button>
        <button type="button" class="btn btn-info" routerLink="contactus">Contact Us</button>
      </div>
    
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button  routerLink="login" class="btn btn-warning"
      type="submit">Login</button>
  </form>
</nav>
<router-outlet></router-outlet>
