<div class="header">
  <a href="#" class="logo"><img src="assets\Image\MSME1.jpg" style="height: 80px;" alt="MSME Finance"></a>
</div>

<nav class="navbar navbar-dark bg-dark navbar-expand-md">

  <div class="navbar-collapse collapse" id="navbar">
    <ul class="navbar-nav">
      <li class="navbar-brand"><a routerLink="dashboard" class="nav-link">Home</a></li>
      <li class="navbar-brand"><a routerLink="emi" class="nav-link">EMI Calculator</a></li>
      <li class="navbar-brand"><a routerLink="faqs" class="nav-link">FAQ's</a></li>
      <li class="navbar-brand"><a routerLink="aboutus" class="nav-link">About Us</a></li>
      <li class="navbar-brand"><a routerLink="contactus" class="nav-link">Contact Us</a></li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <button style="color: whitesmoke;" routerLink="login" class="btn btn-success my-2 my-sm-0"
      type="submit">Login</button>
  </form>
</nav>
<router-outlet></router-outlet>
