<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Send Mail</h1><hr>
                </div>
                <form [formGroup]="mailForm" (ngSubmit)="onSend()">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">To</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="to">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Borrower Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="borrowerName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Enquiry Id</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="applicationNo">
                        </div>
                    </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success btn-lg"
                                (click)="onSend()">SEND</button>
                        </div>
                </form><br>
            </div>
        </div>
    </div>
</div>




