<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Send Mail</h1>
                    <hr color="white">
                </div>
                <form [formGroup]="mailForm" (ngSubmit)="onSend()">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">To</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="to">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subject</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" formControlName="subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Attachment</label>
                        <div class="col-sm-10">

                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02"
                                        (change)="attachment($event)">
                                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-lg" (click)="onSend()">SEND</button>
                    </div>
                </form><br>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 70%;"
                        (click)="onBack()">BACK</button>
                </div>
            </div>
        </div>
    </div>
</div>