<div class="container p-2">
    <div class="row" style="margin: 10px;">
    <div class="col-md-12">

        <div id="content" #content  >
            <img src="assets\Image\MSME1.jpg" width="10%" >
            
            <h2 style="color: rgb(20, 79, 146);"><b>MSME FINANCE PVT.LTD</b></h2>
            <p style="text-align: right;" >
                Date: {{date| date:'shortDate'}}<br>
                Place: Pune &nbsp;&nbsp;
            </p>
            
            <hr>
            <div style="margin-left: 13%;">

            
            <form [formGroup]="sanctionForm">
                TO,<br>
                <div class="row" style="margin-left: 5px;">
                    <div class="col-sm-4 text-secondary">
                        {{ sanctionForm.get('borrowerName').value }}
                    </div>
                </div>
                <div class="row" style="margin-left: 5px;">
                    <div class="col-sm-4 text-secondary">
                        {{ sanctionForm.get('contactNo').value }}
                    </div>
                </div>
                <div class="row" style="margin-left: 5px;">
                    <div class="col-sm-4 text-secondary">
                        {{ sanctionForm.get('emailId').value }}
                    </div>
                </div>
                <div class="row" style="margin-left: 5px;">
                    <div class="col-sm-4 text-secondary">
                        {{ sanctionForm.get('address').value }}
                    </div>
                </div><br>

                <b> Subject: Loan approval confirmation </b><br>
                 <div class="row">
                    <div class="col-sm-4 text-secondary">
                        Dear Sir/Mam {{ sanctionForm.get('borrowerName').value }}
                    </div>
                </div><br>

               
               <p style="word-break: break-all;"> We are pleased to inform you that your loan request has been approved, and we are releasing the
                sanctioned amount to your Account.
                We are sure you will agree that your consistent performance, dependability and overall contribution have
                helped the immediate approval of your request.</p>
                <p>Following are the details regarding your loan request.</p>

                <div>
                    <table>
                        <tr>
                            <td>Sanctioned Loan Amount:</td>
                            <td><div class="row">
                                <div class="col-sm-4 text-secondary">
                                    {{ sanctionForm.get('sanctionedLoanAmount').value }}₹
                                </div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Monthly Emi: </td>
                            <td><div class="row">
                                <div class="col-sm-4 text-secondary">
                                    {{ sanctionForm.get('monthlyEmi').value }}₹
                                </div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Loan Tenure in years: </td>
                            <td><div class="row">
                                <div class="col-sm-4 text-secondary">
                                    {{ sanctionForm.get('sanctionedLoanTenure').value }}
                                </div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Total interest to be paid: </td>
                            <td><div class="row">
                                <div class="col-sm-4 text-secondary">
                                    {{interestAmount}}₹
                                </div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>Total amount to be paid: </td>
                            <td><div class="row">
                                <div class="col-sm-4 text-secondary">
                                    {{totalAmt}}₹
                                </div>
                            </div></td>
                        </tr>
                    </table>
                </div><br>
                The Company is glad we could support you in the time of your need, and looks for your continued
                consistent performances moving forward.<br>
                <br>
                Good luck
                
            </form>
        </div>
        </div><br>

        <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()"
            style="margin-left: 350px">
        &nbsp;&nbsp;
        <input type="button" value="Sanction loan" class="btn btn-success" data-toggle="modal" data-target="#approval">
        &nbsp;&nbsp;
        <input type="button" value="Back" class="btn btn-success" (click)="back()">
    </div>
</div>
</div>

<!--Confirm approval Modal -->
<div class="modal fade" id="approval" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Upload sanction letter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
              <div class="custom-file" style="margin-bottom: 10px;">
                <input type="file" class="custom-file-input" (change)="onselectfile($event)">
                <label class="custom-file-label">Choose file</label>
              </div>
              
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" style="margin-right: 10px;" class="btn btn-success" (click)="saveData()">Confirm</button>
              </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>