
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}
.side-nav-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30%;
}

.tt{
    text-align: right;
    margin-left: 55%;
    color: white;
    font-size: large;
    /* padding-left: 55%; */
}
.btn{
    color: aliceblue;
}
