<nav class="navbar navbar-expand-lg navbar-dark bg-info ">
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggled()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <a class="navbar-brand" href="reHome/homepage">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <button class="btn btn-link " (click)="notify()">Notifications<span class="badge badge-danger"></span></button>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="true">
          Resources
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://www.rbi.org.in/scripts/NotificationUser.aspx">RBI Notifications</a>
          <a class="dropdown-item" href="https://www.rbi.org.in/Scripts/BS_PressReleaseDisplay.aspx">PRESS RELEASES</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://rbi.org.in/home.aspx">RBI</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="tt ms-auto">
    <span>Welcome {{title}}</span>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="profileEmp">Profile</a>
          <a class="dropdown-item" href="#">Mail</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>

      <!-- <div class="profile-logo dropstart">
            <button class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">
                Profile
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a>Profile</a></li>
                <li><a>Mail</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div> -->

    </ul>

  </div>
</nav>