<div class="container shadow p-2">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Borrower Details</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Documents</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">History</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="main-body">
                      <div class="row gutters-sm" >
                        <div class="col-md-6">
                          <div class="card mb-3" style="margin: 20px;">
                            <h3 class="card-header" style="background-color: beige;">Personal Details:</h3>
                            <div class="card-body">
            
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Application ID</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.borrowerId}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Borrower Name</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.borrowerName}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Date of birth</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.dateOfBirth}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Contact no</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.contactNo}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Email</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.emailId}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Adhar no</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.adharNo}}
                                </div>
                              </div>

                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">PAN no</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.panNo}}
                                </div>
                              </div>

                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Address</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.address}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">GST no</h4>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    {{borrower.gstNo}}
                                </div>
                              </div>
            
                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Document status</h4>
                                </div>
                                <div class="col-sm-7 text-secondary text-danger">
                                    {{borrower.documentStatus}}
                                </div>
                              </div> 

                              <hr>
                              <div class="row">
                                <div class="col-sm-5">
                                  <h4 class="mb-0">Application status</h4>
                                </div>
                                <div class="col-sm-7 text-secondary text-danger">
                                    {{borrower.applicationStatus}}
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                          <div class="col-md-6" >
                            <div class="card mb-3" style="margin: 20px;">
                              <h3 class="card-header" style="background-color: beige;">Bank Details:</h3>
                              <div class="card-body">
              
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h4 class="mb-0">Account no</h4>
                                  </div>
                                  <div class="col-sm-7 text-secondary">
                                    {{borrower.bankDetails.bankAccountNo}}
                                  </div>
                                </div>
              
                                <hr>
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h4 class="mb-0">IFSC code</h4>
                                  </div>
                                  <div class="col-sm-7 text-secondary">
                                    {{borrower.bankDetails.ifscCode}}
                                  </div>
                                </div>
              
                                <hr>
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h4 class="mb-0">Bank Name</h4>
                                  </div>
                                  <div class="col-sm-7 text-secondary">
                                    {{borrower.bankDetails.bankName}}
                                  </div>
                                </div>
              
                                <hr>
                                <div class="row">
                                  <div class="col-sm-5">
                                    <h4 class="mb-0">Branch</h4>
                                  </div>
                                  <div class="col-sm-7 text-secondary">
                                    {{borrower.bankDetails.bankBranch}}
                                  </div>
                                </div>

                              </div>
                            </div>

                            <div class="card mb-3" style="margin: 20px;">
                                <h3 class="card-header" style="background-color: beige;">Business Details:</h3>
                                <div class="card-body">
                
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <h4 class="mb-0">Business type</h4>
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        {{borrower.businessDetails.businesstype}}
                                    </div>
                                  </div>
                
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <h4 class="mb-0">Business name</h4>
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        {{borrower.businessDetails.companyName}}
                                    </div>
                                  </div>
                
                                  <hr>
                                  <div class="row">
                                    <div class="col-sm-5">
                                      <h4 class="mb-0">Revenue (₹)</h4>
                                    </div>
                                    <div class="col-sm-7 text-secondary">
                                        {{borrower.businessDetails.revenue}}
                                </div>
                              </div>

                          </div>

                      </div>
                </div>
            </div>
        </div>
            
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="main-body">
                <div class="row gutters-sm" >
                  <div class="col-md-6">
                    <div class="card mb-3" style="margin: 20px;">
                      <h3 class="card-header" style="background-color: beige;">Pevious loan Details:</h3>
                      <div class="card-body" id="loan" *ngIf="loan">
      
                        <div class="row">
                          <div class="col-sm-5">
                            <h4 class="mb-0">Loan type</h4>
                          </div>
                          <div class="col-sm-7 text-secondary">
                            {{borrower.loanHistory.loanType}}
                          </div>
                        </div>
      
                        <hr>
                        <div class="row">
                          <div class="col-sm-5">
                            <h4 class="mb-0">Amount</h4>
                          </div>
                          <div class="col-sm-7 text-secondary">
                            {{borrower.loanHistory.loanAmount}} ₹
                          </div>
                        </div>
      
                        <hr>
                        <div class="row">
                          <div class="col-sm-5">
                            <h4 class="mb-0">Tenure (years)</h4>
                          </div>
                          <div class="col-sm-7 text-secondary">
                            {{borrower.loanHistory.loanTenure}}
                          </div>
                        </div>
      
                        <hr>
                        <div class="row">
                          <div class="col-sm-5">
                            <h4 class="mb-0">Paid amount</h4>
                          </div>
                          <div class="col-sm-7 text-secondary">
                            {{borrower.loanHistory.paidAmount}} ₹
                          </div>
                        </div>
      
                        <hr>
                        <div class="row">
                          <div class="col-sm-5">
                            <h4 class="mb-0">Financer bank</h4>
                          </div>
                          <div class="col-sm-7 text-secondary">
                            {{borrower.loanHistory.bankName}}
                          </div>
                        </div>

                        <hr>
                        <div class="row">
                          <div class="col-sm-5">
                            <h4 class="mb-0">Defaulter count</h4>
                          </div>
                          <div class="col-sm-7 text-secondary">
                            {{borrower.loanHistory.defaulterCount}}
                          </div>
                        </div>

                      </div>
                      <div class="card-body" id="noloan" *ngIf="!loan" >
                        <div class="col-sm-7 text-secondary">
                          No previous loan
                        </div>
                      </div>
                    </div>
                        
          </div>
          <div class="col-md-2" style="margin-top: 50px; margin-left: 50px;">
            <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#sanLoanModal">PROCEED</button>
          </div> 
          <div class="col-md-3" style="margin-top: 50px; margin-left: 30px;">
            <button type="button" class="btn btn-danger"  (click)="reject()">REJECT APPLICATION</button>
          </div> 
      </div>
  </div>
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><div class="main-body">
            <div class="main-body p-3">
            <div class="row p-3">

                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.photo}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.photo)">
                        <div class="card-body">
                          <p class="card-text text-secondary">Photo</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.panCard}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.panCard)">
                        <div class="card-body">
                          <p class="card-text text-secondary">PAN card</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.adharCard}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.adharCard)">
                        <div class="card-body">
                          <p class="card-text text-secondary">Adhar card</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.bankStatement}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.bankStatement)">
                        <div class="card-body">
                          <p class="card-text text-secondary">Bank Statement</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.addressProof}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.addressProof)">
                        <div class="card-body">
                          <p class="card-text text-secondary">Address Proof</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.balanceSheet}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.balanceSheet)">
                        <div class="card-body">
                          <p class="card-text text-secondary">Balance Sheet</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.gstCertificate}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.gstCertificate)">
                        <div class="card-body">
                          <p class="card-text text-secondary">GST Certificate</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card" style="width: 15rem;">
                        <img src="data:image/png;base64,{{borrower.borrowerDocuments.proprietaryDeed}}" class="card-img-top" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg" (click)="change(borrower.borrowerDocuments.proprietaryDeed)">
                        <div class="card-body">
                          <p class="card-text text-secondary">Proprietary deed</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="p-4">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#verifyDoc" [hidden]="visible" >Verify Documents</button>
            </div>
        </div>
            
      </div>
    </div>
</div>
      <!--view document Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Document viewer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align: center;" style="height: 500px; text-align: center;">
            <img src="data:image/png;base64,{{image}}" alt="" width="500px">
      </div>
    </div>
  </div>
</div>

<!--verify documents Modal -->
<div class="modal fade" id="verifyDoc" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Verify documents</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <button type="button" class="btn btn-outline-success" style="margin-right: 50px;" (click)="accept()" data-dismiss="modal">Accept</button>
            <button type="button" class="btn btn-outline-danger" (click)="docReject()" data-dismiss="modal">Reject</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  

  <!--Sanction loan Modal -->
  <div class="modal fade bd-example-modal-lg" id="sanLoanModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form [formGroup]="sanctionForm" (ngSubmit)="sanctionLoan()">
            <div class="row gutters-sm" >
              <div class="col-md-12">
                <div class="card mb-3" style="margin: 20px;">
                  <h3 class="card-header" style="background-color: beige;">Enter loan Details:</h3>
                  <div class="card-body">
  
                    <div class="row">
                      <div class="col-sm-5">
                        <h4 class="mb-0">Loan amount (₹)</h4>
                      </div>
                      <div class="col-sm-7 text-secondary">
                        <input type="text" class="form-control" formControlName="sanctionedLoanAmount">
                      </div>
                    </div>
  
                    <hr>
                    <div class="row">
                      <div class="col-sm-5">
                        <h4 class="mb-0">Tenure (in years)</h4>
                      </div>
                      <div class="col-sm-7 text-secondary">
                        <input type="text" class="form-control" formControlName="sanctionedLoanTenure">
                      </div>
                    </div>
  
                    <hr>
                    <div class="row">
                      <div class="col-sm-5">
                        <h4 class="mb-0">Rate of interest (%)</h4>
                      </div>
                      <div class="col-sm-7 text-secondary">
                        <input type="text" class="form-control" formControlName="rateOfInterest">
                      </div>
                    </div>
  
                  </div>
                </div>

                <div class="modal-footer" style="margin-left: 20px; margin-top: 20px;">
                  <input type="submit" class="btn btn-success" value="Sanction">
                  
                  <button type="button" class="btn btn-secondary" style="margin-left: 20px;" data-dismiss="modal">Cancel</button>
                </div> 
                
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>
</div>

</div>




 