.row{
    margin: auto;
    width: 80%;   
}
h2{
    color: black;
    text-align: center;
}
h4{
    color: grey;
    text-align: center;
}

.barGraph{
    /* padding-top: 30%; */
    margin-top: 30%;
    
}