<div id="accordion" style="width: 30%; margin: auto;">
    <div class="about-section;">
        <h1>Notifications</h1>
    </div>
    <div class="card">
        <div class="card-header">

            <table class="table">
                <tbody>
                    <tr *ngFor="let d of deflt | paginate: {
                        itemsPerPage: tableItems,
                       currentPage: page,
                       totalItems: count
                      };
                  let i = index" >
                        <td> <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                New Defaulter with emi id 
                            </a></td>
                        <td style="color: red"> {{d.emiId}} </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls
                                    previousLabel="Prev"
                                    nextLabel="Next"
                                   (pageChange)="onTableData($event)">
                </pagination-controls>
              </div> 

        </div>
    </div>
</div>