.table
{
    text-align: center;
} 
.thead{
    background-color: rgb(84, 187, 182);
    color: white;
    border: 2 ;
}
h1{
    text-align: center;
    padding-top: 20px;
    color: rgb(34, 112, 143);
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
}
