<div class="container">
    <h1>LEDGER</h1>
      <hr width="100%">
      <table class="table" border="2">
        <thead class="thead">
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Date</th>
            <th scope="col">Principal Loan</th>
            <th scope="col">Loan Paid</th>
            <th scope="col">Interest</th>
            <th scope="col">Loan Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>{{date| date:'shortDate'}}</td>
            <td>{{loan.sanctionedLoanAmount}}</td>
            <td>{{loan.monthlyEmi}}</td>
            <td></td>
            <td>{{loan.sanctionedLoanAmount}}</td>            
          </tr>
        </tbody>
      </table>