
<div class="container">
  <h1>APPROVED APPLICATIONS</h1>
    <hr width="100%">
    <table class="table" border="2">
      <thead class="thead">
        <tr>
          <th scope="col">Application ID</th>
          <th scope="col">Borrower Name</th>
          <th scope="col">Document Status</th>
          <th scope="col">Sanctioned amount</th>
          <th scope="col">Sanctioned Tenure<br><small>(in years)</small></th>
          <th scope="col">View Application</th>
          <th scope="col">Disbursement</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of sLoans">
          <th scope="row">{{s.borrower.borrowerId}}</th>
          <td>{{s.borrower.borrowerName}}</td>
          <td>{{s.borrower.documentStatus}}</td>
          <td>{{s.sanctionedLoanAmount}}</td>
          <td>{{s.sanctionedLoanTenure}}</td>
          <td><button type="button" class="btn btn-outline-primary" [routerLink]="['view']" [state]="s">View</button></td>
          <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmDisbursement">Disburse</button></td>
          <td><button type="button" class="btn btn-outline-primary" [routerLink]="['mail']">E-mail</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--disbursement Modal -->
<div class="modal fade" id="confirmDisbursement" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Loan Disbursement</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <h1 style="text-align: center;
          padding-top: 20px;
          color: rgb(36, 170, 18);
          padding-bottom: 20px;
          font-weight: bold;
          font-size: 50px;">Loan Disbursed</h1>
      </div>
    </div>
  </div>
</div>
    
  
    
  
  
  
