<div class="container">
    <h1 style="font-weight: bolder;">REGISTER BORROWER</h1>
    <hr width="100%">
    <form [formGroup]="regForm" (ngSubmit)="onReg()">
        <div *ngIf="steps==1">
            <h3>Borrower Details</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BORROWER NAME</label>
                    <input type="text" class="form-control" formControlName="borrowerName" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">DATE OF BIRTH</label>
                    <input type="date" class="form-control" formControlName="dateOfBirth" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">EMAIL ID</label>
                    <input type="text" class="form-control" formControlName="emailId" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">CONTACT NUMBER</label>
                    <input type="text" class="form-control" formControlName="contactNo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">ADHAR CARD</label>
                    <input type="text" class="form-control" formControlName="adharNo" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">PAN CARD</label>
                    <input type="text" class="form-control" formControlName="panNo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">ADDRESS</label>
                    <input type="text" class="form-control" formControlName="address" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">GST NUMBER</label>
                    <input type="text" class="form-control" formControlName="gstNo" required>
                </div>
            </div>
        </div>
        <br>
        <div *ngIf="steps==2" formGroupName="bankDetails">
            <h3>Bank Details</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">ACCOUNT NUMBER</label>
                    <input type="text" class="form-control" formControlName="bankAccountNo" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">IFSC CODE</label>
                    <input type="text" class="form-control" formControlName="ifscCode" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BANK NAME</label>
                    <input type="text" class="form-control" formControlName="bankName" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BRANCH</label>
                    <input type="text" class="form-control" formControlName="bankBranch" required>
                </div>
            </div>
        </div>
        <div *ngIf="steps==3"  formGroupName="businessDetails">
            <h3>BUSINESS DETAILS</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">COMPANY NAME</label>
                    <input type="text" class="form-control" formControlName="companyName" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">REVENUE</label>
                    <input type="text" class="form-control" formControlName="revenue" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BUSINESS TYPE</label>
                    <select formControlName="businesstype" class="form-control">
                        <option value="Constuction">Constuction</option>
                        <option value="Food">Food</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Tours And Travel">Tours And Travel</option>
                        <option value="Consumer Goods">Consumer Goods</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngIf="steps==4" formGroupName="loanHistory">
            <h3>Previous Loan Details</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">Loan type</label>
                    <select formControlName="loanType" class="form-control">
                        <option value="Micro">Micro</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">LOAN AMOUNT</label>
                    <input type="text" class="form-control" formControlName="loanAmount" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">LOAN TENURE (In years)</label>
                    <input type="text" class="form-control" formControlName="loanTenure" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">PAID AMMOUNT</label>
                    <input type="text" class="form-control" formControlName="paidAmount" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BANK</label>
                    <input type="text" class="form-control" formControlName="bankName" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">DEFAULTER COUNT</label>
                    <input type="number" class="form-control" formControlName="defaulterCount" required>
                </div>
            </div>
        </div>
        <div *ngIf="steps==5" formGroupName="appliedLoan">
            <h3>APPLIED LOAN DETAILS</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">EXPECTED AMOUNT</label>
                    <input type="text" class="form-control" formControlName="expectedAmount" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">LOAN TYPE</label>
                    <select formControlName="loanType" class="form-control">
                        <option value="Micro">Micro</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">TENURE (In years)</label>
                    <input type="text" class="form-control" formControlName="tenure" required>
                </div>
            </div>
        </div>
        <div *ngIf="steps==6" formGroupName="borrowerDocuments">
            <h3>BORROWER DOCUMNETS</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">ADHAR CARD</label>
                    <input type="file" class="form-control" (change)="adharCard($event)" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">PAN CARD</label>
                    <input type="file" class="form-control" (change)="panCard($event)" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">PHOTOGRAPH</label>
                    <input type="file" class="form-control" (change)="photo($event)" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BANK STATEMENT</label>
                    <input type="file" class="form-control" (change)="bankStatement($event)" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">ADDRESS PROOF</label>
                    <input type="file" class="form-control" (change)="addressProof($event)" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">BANALCE SHEET</label>
                    <input type="file" class="form-control" (change)="balanceSheet($event)" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">GST CERTIFICATE</label>
                    <input type="file" class="form-control" (change)="gstCertificate($event)" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">PROPRIETARY DEED</label>
                    <input type="file" class="form-control" (change)="proprietaryDeed($event)" required>
                </div>
            </div>
        </div>


        <div>
            <button type="button" class="btn btn-warning btn-lg" *ngIf="steps!=1" (click)="previous()">PREVIOUS</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-lg" *ngIf="steps!=6" (click)="next()">NEXT</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary btn-lg" (click)="reset()">RESET</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success btn-lg" *ngIf="steps==6">SUBMIT</button>
        </div>
    </form>
</div>