
<div class="container p-2">
    
  <h1>Sanctioned Loan Applications</h1>
    <hr width="100%">
    <table class="table" border="2px">
      <thead class="thead">
        <tr>
          <th scope="col">Application ID</th>
          <th scope="col">Borrower Name</th>
          <th scope="col">Sanctioned loan amount</th>
          <th scope="col">Tenure (years)</th>
          <th scope="col">Rate of interest (%)</th>
          <th scope="col">Application Status</th>
          <th scope="col">View Application</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sl of sanLoans| paginate: {
          itemsPerPage: tableItems,
         currentPage: page,
         totalItems: count
        };
    let i = index" >
          <th scope="row">{{sl.borrower.borrowerId}}</th>
          <td>{{sl.borrower.borrowerName}}</td>
          <td>{{sl.sanctionedLoanAmount}}</td>
          <td>{{sl.sanctionedLoanTenure}}</td>
          <td>{{sl.rateOfInterest}}</td>
          <td>{{sl.borrower.applicationStatus}}</td>
          <td><button type="button" class="btn btn-outline-primary" [routerLink]="['viewSanctionLoan']" [state]="sl">View</button></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
                          previousLabel="Prev"
                          nextLabel="Next"
                         (pageChange)="onTableData($event)">
      </pagination-controls>
    </div> 
  </div>