<div class="faqs" id="accordion" style="width: 80%;">
    <div class="about-section;">
        <h2 style="color: navy;text-align: center;">FAQs About Small Business Loans</h2>
    </div>
      
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Q1. I am a small business owner struggling with finances at the moment. Can I still restart my
            business? How do I use my sources of funding better?
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
            There are various government loans that offer capital and are an excellent way to source funding for
            your business namely, Mudra loans categorised into Shishu, Kishor and Tarun. Loans beyond 5 lakh
            and up to 10 lakh comes under the 'Tarun' category. Generally, loans up to Rs.10 lakh issued by banks
            under Micro Small Enterprises are given without collaterals. You can also consider "Ashwas Dinam
            Gold Loan" and "Restart India Pradhan Gold Loan" provided by Muthoot Fincorp Ltd (MFL) for
            immediate funding. Banks can provide a wide variety of lending options for small business owners,
            including short-term or long-term financing for nearly every venture. The main criteria considered for
            approval of a business loan, is the cash flow to repay the principal plus interest. It is important to
            have a forecast on the expenditure and income, so that you can spend your funds wisely. A good
            budgeting to plan your revenue inflow, projecting the collections, investments and expenses and cash
            flows is of utmost importance. This will also help in managing expenses prudently and help in keeping
            a check on the costs. Ensure prompt payment to banks. In short, get started with cash inflow (revenue
            and collections), reduce your costs (investment and expenses and payment to creditors). The net cash
            flow available will be useful for owners to re-invest in business.
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
            Q2. I am a small business. Are there any loan schemes available which are unsecured, and
            repayment starts after a holiday period?
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
            Banks and other lenders are making the underwriting processes much stricter. Availing credit facilities
            from banks and NBFCs can be challenging in the given uncertain environment, unsecured loans would
            be difficult to obtain. Almost every banking and financial institution offers unsecured business loans
            to its customers. However, the interest rates and the eligibility criteria vary from one lender to
            another. The collateral free unsecured business loan approval depends on the documents given,
            applicant’s profile, and nature of business and sole discretion of the lender. As a matter of fact,
            secured loans have a much higher tenure than unsecured loans. In unsecured loans, the maximum
            tenure is usually of 5 years or less whereas secured loans, the maximum tenure can go up to 15 years.
            Additionally, the risk factor in unsecured loans is high, as rate of interest is very high. But in secured
            loans, since collateral is already given, the rate of interest is comparatively low. Additionally,
            individuals with a credit score of 750 points or above are considered loan worthy. Banks prefer to
            give loans to companies that have accounts with them. These businesses can easily avail a loan as the
            bank has an experience of working with them. For those who are finding it difficult to get an
            unsecured loan, the collateral loans may come handy. One can opt for a loan against their existing
            assets such as gold and bank fixed deposits. If interested, you may visit your nearest bank / NBFC for
            opting suitable loan scheme and understanding the terms and conditions end to end in line with your
            requirement and eligibility criteria.
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Q3. I am a small business and I want to understand the different government approved credit
            schemes
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
            If you are new or have an existing small-scale manufacturing or service activity you are eligible for
            the CGTMSE loan. But there are certain entities excluded from it like educational institutions, retail
            trade, agriculture, self-help groups and training institutes. The business unit must be established as a
            distinct unit. All the major financiers are giving adequate loans for starting new ventures,
            development, procurement of machinery etc. Loans under the CGTMSE scheme are backed without
            any external collateral or third-party guarantee. Loans are available in Mudra, namely Kishor wherein
            loans are from Rs.50,001 to Rs.5,00,000 (For buying equipment/machinery, raw materials, business
            expansion for existing enterprises The MSME loan sanctioned by the Member Lending Institution
            (MLI) is backed by the scheme which provides the guarantee cover for a large portion of the loan
            amount. Kindly check with your nearest financial institution for further details. Visit your nearest
            public-sector bank / NBFC for opting suitable loan and scheme as per your requirements
        </div>
      </div>
   </div>

    <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
            Q4. I am a small business/MSME and I am seeking a government loan. Please advise
          </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
          <div class="card-body">
            The MSME schemes as Collateral-free loan, Credit Guarantee Fund Scheme for Micro and Small
Enterprises (CGTMSE), MUDRA Loans, Stand-Up India, Emergency Credit Line Guarantee Scheme
(ECLGS) etc. can be considered as an option. The SIDBI Make in India Soft Loan Fund for Micro Small
and Medium Enterprises (SMILE) is also another possibility for receiving financial support. Muthoot
Fincorp Ltd. has launched a special Gold Loan Scheme for businesses known as "Ashwas Dinam Gold
Loan" The features are: Maximum loan value against gold• Steady interest rate for 180 days• 24x7
online repayment options• Reducing interest on daily payments. Also, there are many other schemes
provided by other financial institutions as well. However, the eligibility criteria and terms and
conditions need to be assessed before processing as it depends on the business plan and the amount
of loan that is availed. Check with your nearest financial institution for further guidance. #4
          </div>
        </div>
      </div>
   
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
            Q5. I am an MSME in manufacturing. Are there any financing options for Capital loans?
          </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Finance Minister, Nirmala Sitharaman had recently announced on 13 May 2020 that collateral-free
loans will be given to businesses including MSMEs to help them sustain in the economy that has
been greatly affected by COVID-19. With this loan, the MSMEs that have been struggling to survive
and need additional funds to purchase raw material and restart their business can avail this loan as a
part of the relief package by the government. Mudra Yojana started under the Jan Dhan Yojana,
provides collateral free loans. Three types of loans are disbursed under the MUDRA yojana and the
borrowers are not required to provide any collateral or security for availing this loan. The three free
collateral loans available under Mudra loans are Shishu, Kishore and Tarun. Various Public and private
sector banks, regional rural banks, MFIs, NBFCs and co-operative banks function as MLIs (Member
Lending Institutions) to the borrowers under the Pradhan Mantri MUDRA Yojana (PMMY). The other
options are Crowd Funding, Angel investment, bootstrapping etc. 
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
            Q6. I am looking to start a business. Will banks help me with a loan even if I am not an existing
            customer?
          </a>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Small and medium enterprises, which are interested in increasing their current business or need to
            capitalise in a new business can opt for SME loans. All the major financiers are giving adequate loans
            for development, procurement of machinery etc. If you are businessman and willing to start a
            business of your own, then you can apply for SME loans. One must have proper project plan or
            business plan in paper so that no bottlenecks pop up at the time of getting loan for business.
            Alternatively, loans are available in Mudra namely Kishor wherein loans are from Rs. 50,001 to Rs.
            5,00,000 (For buying equipment/machinery, raw materials, business expansion for existing
            enterprises). Loans under the CGTMSE scheme are backed without any external collateral or thirdparty guarantee. The MSME loan sanctioned by the Member Lending Institution (MLI) is backed by
            the scheme which provides the guarantee cover for a large portion of the loan amount. Kindly check
            with the nearest financial institutions for getting further details. 
          </div>
        </div>
      </div>
  

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
            Q7. I am recently unemployed and looking to start a business. I have not so far fallen under the tax
bracket and so I have not filed returns. Please advise if I will get a loan for a new business.
          </a>
        </div>
        <div id="collapseSeven" class="collapse" data-parent="#accordion">
          <div class="card-body">
            The Prime Ministers Rozgar Yojana scheme has been designed especially for the unemployed. The
            main aim of the scheme is to provide employment to the unemployed by providing them financial
            resources to start their own ventures. The loan is available to any youth who is educated. The loan is
            of composite nature and a loan of Rs.2 lakh and a loan of Rs.5 lakh each is advanced for business
            sector and industry sector respectively. MUDRA loans are such that can be considered, which will be
            available through Banks/NBFCs/MFIs. Non-Corporate Small Business Segment (NCSB) comprising of
            proprietorship / partnership firms running as small manufacturing units, service sector units,
            shopkeepers and others. Loans are categorised into Shishu, Kishor and Tarun. Loans beyond 5 lakh
            and up to 10 lakh comes under the 'Tarun' category. Generally, loans up to Rs.10 lakh issued by banks
            under Micro Small Enterprises are given without collaterals. The terms and conditions of the lending
            agency may have to be followed for availing loans. Government Programs that offer capital are an
            excellent way to source funding for your business. You may visit your nearest bank / NBFC for opting suitable loan scheme and understanding the terms and conditions end to end in line with
            your requirement and eligibility criteria. You can also consider "Ashwas Dinam Gold Loan" and
            "Restart India Pradhan Gold Loan" provided by Muthoot Fincorp Ltd (MFL) for immediate funding. 
            
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseEight">
            Q8. I am recently unemployed and looking to start a manufacturing business. I have personal loan
            EMIs pending. Will I get an additional loan to start my business? 

          </a>
        </div>
        <div id="collapseEight" class="collapse" data-parent="#accordion">
          <div class="card-body">
            All the major financiers are giving adequate loans for starting new ventures or restarting business,
            development, procurement of machinery etc. If you are businessman and willing to start a business
            of your own, then you can apply for SME loans. One must have proper project plan or business plan
            in paper so that no bottlenecks arise at the time of getting the loan for your business. Loans are
            available in Mudra, namely Kishor wherein loans are from Rs. 50,001 to Rs. 5,00,000 (For buying
            equipment/machinery, raw materials, business expansion for existing enterprises). Loans under the
            CGTMSE scheme are backed without any external collateral or third-party guarantee. The MSME loan
            sanctioned by the Member Lending Institution (MLI) is backed by the scheme which provides the
            guarantee cover for a large portion of the loan amount. Kindly check with the nearest financial
            institutions for getting further details. Visit your nearest public-sector bank / NBFC for opting suitable
            loan and scheme as per your requirements. You can also consider "Ashwas Dinam Gold Loan" and
            “Restart India Pradhan Gold Loan” provided by Muthoot Fincorp Ltd (MFL) for immediate funding. 
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
            Q9. I run a service business and I have a steady customer base with good prospects. I am seeking
            investment for sustaining operations through loans, but I am unable to convince the institutions
            favourably. Is there a set of prerequisites I need to look at?
          </a>
        </div>
        <div id="collapseNine" class="collapse" data-parent="#accordion">
          <div class="card-body">
            It is important to fulfil the eligibility criteria in order to get your loan approved. Apart from the regular
            documents, that needs to be submitted, here are some of the main factors that are considered for a
            business loan to be approved. • Credit score – The higher your score, the better your chances of
            getting a loan • Cash flow - Your cash flow analysis shows your capability of repaying your loan after
            covering operating expenses. • Business plan – A concrete and robust business plan is necessary, to
            win the confidence of your lenders. On the other hand, an inaccurate business plan or one that has
            redundancies will be rejected. • Collaterals - In case your business doesn’t have sufficient assets that
            could be pledged as collateral, your loan application might be turned down. 
          </div>
        </div>
      </div>
    

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTen">
            Q10. What is the right strategy for banks and financial institutions to manage the large numbers
            of NPA accounts in present times and keep their portfolio healthy? 
          </a>
        </div>
        <div id="collapseTen" class="collapse" data-parent="#accordion">
          <div class="card-body">
            The issue of NPA management continues to be the biggest challenge before the banking sector. One
            of the major constraints of the competitive efficiency of banks is the tendency to accumulate the nonperforming assets It is a critical indicator for assessing banks credit risk assets quality and efficiency
            in allocation of resources to productive sectors reflecting the success of financial sector reforms,
            regulatory and supervisory process reforms, regulatory and super victory process in particular
            selected public sector and private sector banks have made substantial progress in cleaning up the
            NPAs from their balance sheets. Post the pandemic, a lot of liquidity is being infused by the RBI in the
            system and lenders are encouraged to further lend, to improvise the economy. However, over a
            period of time, the rising level of NPAs, major banking frauds, has increased the risk averseness of
            banks. Banks will be excessively reluctant to lend to even mature and established businesses. In the
            present crisis, banks will have a critical time to ramp up lending to businesses in the face of extra
            demands for loans to survive, repair and re-construct their COVID-19 battered businesses. There are
            various discussions are on at this stage, as per Indian Banking Association, they plan for a presentation
            to the regulator to see if some relief regarding non-performing asset classification in the small and
            medium enterprises sector can be proposed. 
          </div>
        </div>
      </div>
</div>
                                    
