<p>view-emi works!</p>
<p>ledger works!</p>
<div class="container">
    <h1 align="center">Ledger Details</h1>
</div>
<table class="table" border="2">
    <thead class="thead-dark">
        <tr>
            <th id="ledger">EMI ID</th>
            <th id="ledger">EMI AMOUNT</th>
            <th id="ledger">EMI TENIRE</th>
            <th id="ledger">EMI PAID</th>
            <th id="ledger">EMI REMAINING</th>
            <th id="ledger">DEFAULTER COUNT</th>
            <th id="ledger">EMI STATUS</th>
            <th id="ledger">Action</th>
        </tr>
    </thead>
    <tbody>
    <tbody *ngIf=emi class="text-center">
        <tr *ngFor="let d1 of emi">
            <td>
                <div class="col-sm-3">{{d1.emiId}}</div>
            </td>
            <td>
                <div class="col-sm-3">{{d1.emiAmount}} </div>
            </td>
            <td>
                <div class="col-sm-3">{{d1.emiTenure}} </div>
            </td>
<!-- 
            <td>
                <div class="col-sm-3">{{d1.emiPaid}} </div>
            </td>
            <td>
                <div class="col-sm-3">{{d1.emiRemaining}} </div>
            </td> -->
            <td>
                <div class="col-sm-3">{{d1.defautlerCount}} </div>
            </td>
            <td>
                <div class="col-sm-3">{{d1.emiStatus}} </div>
            </td>
            <td>
                <div> <button type="submit" (click)="paid(d1) " class="btn btn-warning"
                        *ngIf="d1.emiStatus!='paid'">Paid</button> </div>
            </td>
        </tr>
    </tbody>
</table>
