
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>LOG In</h1>
          <h6>Please enter login details !!</h6>
        </div>
        <form [formGroup]="loginform" (ngSubmit)="onLognin()">
          <div class="form-group">
            <label for="exampleInputEmail1">USERNAME</label>
            <input type="text" formControlName="username" class="form-control" placeholder="Enter username">
            <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">PASSWORD</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
              placeholder="Password">
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!loginform.valid">LOGIN</button>
          </div>
        </form><br>
      </div>
    </div>
  </div>
</div>