
<div class="col-md-12">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 mt-3 loginDiv">
        <form [formGroup]="loginform" (ngSubmit)="logincheck()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="email" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
          <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
    </div>
  </div>

